<mat-card
  [ngStyle]="{ 'background-color':
                  (selected) ? 'lightsteelblue': 'white' }">
  <mat-card-title>
    <ng-content select=".my-title"></ng-content>
  </mat-card-title>
  <mat-card-subtitle>
    {{ item.from }} - {{ item.to }}
  </mat-card-subtitle>
  <mat-card-content>
    {{ item.date | date:'dd.MM.yyyy HH:mm' }}
    <br>
    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-actions>

    <button
      mat-mini-fab
      *ngIf="!selected"
      (click)="select()">
      <mat-icon>add</mat-icon>
    </button>
    
    <button
      mat-mini-fab
      *ngIf="selected"
      (click)="deselect()">
      <mat-icon>remove</mat-icon>
    </button>

    <a
      mat-mini-fab
      [routerLink]="[
        '/flight-booking/flight-edit',
        item.id,
        {
          showDetails: true
        }
      ]">
      <mat-icon>edit</mat-icon>
    </a>

  </mat-card-actions>
</mat-card>