<mat-card>
  <mat-card-title>Search for Flights</mat-card-title>
  <mat-card-content>
    <form #f="ngForm">
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="from"
          name="from"
          placeholder="from"
          required
          minlength="3"
          maxlength="20"
          pattern="[a-zA-Z]*"
          city>
        <mat-error
          *ngIf="f?.controls['from']?.hasError('required')">
          required error
        </mat-error>
        <mat-error
          *ngIf="f?.controls['from']?.hasError('minlength')">
          minlength error
        </mat-error>
        <mat-error
          *ngIf="f?.controls['from']?.hasError('maxlength')">
          maxlength error
        </mat-error>
        <mat-error
          *ngIf="f?.controls['from']?.hasError('pattern')">
          pattern error
        </mat-error>
        <mat-error
          *ngIf="f?.controls['from']?.hasError('city')">
          city error
        </mat-error>
      </mat-form-field>

      <br>

      <mat-form-field>
        <input
          matInput
          [(ngModel)]="to"
          name="to"
          placeholder="to">
      </mat-form-field>

      <pre>{{
        f?.controls['from']?.errors | json
      }}</pre>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      [disabled]="f?.invalid"
      (click)="search()"
      color="primary">
      Search</button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="flights.length">
  <div class="row">
    <div
      *ngFor="let flight of flights"
      class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <app-flight-card
        [item]="flight"
        [(selected)]="basket[flight.id]">
        <span class="my-title">Flight</span>
        Mein Text für die Flight Card
      </app-flight-card>
    </div>
  </div>
</mat-card>

<mat-card>
  <mat-card-title>Basket</mat-card-title>
  <mat-card-content>
    <pre>{{
      basket | json  
    }}</pre>
  </mat-card-content>
</mat-card>